@font-face {
    font-family: font;
    src: url(Norse-Bold.otf);
}

html,
body
{
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 100vh;
    
}


.container-left
{
    box-sizing: border-box;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 background-image:url('background-left.jpg');
 background-repeat: no-repeat;
 background-size:cover;
 width: 40%;
 border: 1px solid black;
}

.title
{
    font-family: font,Arial, Helvetica, sans-serif;
    background-color:rgb(0,0,0,0.4);
    height: auto;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 7rem;
    top: 20vh;
    color:beige;
    overflow:auto;

}

.odin-logo
{

    height:7rem;
    width: 7rem;
    
}

.background-credits
{
    overflow: auto;
    font-size: 1.5rem;
    text-align: center;
    position:relative;
    color:beige;

}

.autor:visited
{
    color:beige;

}


.container-right
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60%;

}
.description-container
{
    display: flex;
    flex-direction:column;
    background-color:whitesmoke;
    height: auto;
    font-size: 2rem;
}
.description-container > .description:first-of-type
{
    margin-top: 7vh;
}
.description{
    margin-right: 1em;
    margin-left: 5%;
    margin-top: 2vh;
    margin-bottom: 1%;
}

.form-container
{

    height: auto;
}
.form
{
    margin-left: 5%;
    display: flex;
    width: auto;
    flex-wrap: wrap;

}
h1{
    flex:0 0 100%;

}

.input
{
    flex:0 0 40%;
    font-size: 1.5em;
    height: 3.7em;
    
        
}

.input label:focus{
    font-weight: bold;
}

.input input:focus,
.input input:placeholder-shown:focus{
    background-color: rgb(206, 206, 206,0.7);
    border-color: black;

}

.input input{
    appearance: none;
    font-weight: bold;
    width: 80%;
    height: 2em;
    display:block;
    outline: none;
}

input:valid,input:invalid,
.input input:placeholder-shown
{
    border: 2px solid;
    border-radius: 5px;
}
.confirm
{
    
}

.input input:placeholder-shown
{
    border-color:gainsboro ;
    background-color: rgb(206, 206, 206,0.1);
}

input:valid
{
    border-color:olivedrab;
    background-color: rgb(150, 255, 30,0.2);
  
}

input:invalid
{
    background-color: rgba(999, 0, 0, 0.2);
    border-color:red;
}

input:valid:not(:focus) + .required:after
{
    content: '✓';
    color: green;
    font-size: 0.8em;
}

.input input:placeholder-shown:not(:focus) +.required:after
{
    content: '';
}

input:invalid:not(:focus) + .required:after
{

    content: '✖ Required';
    color: red;
    font-size: 0.8em;
}


.footer-right
{
    background-color:whitesmoke;
    box-shadow: 0px 4px 4px 0px rgba(156,156,156,0.75) inset;
    height: 100%;
}

.btn
{
    box-shadow: 4px 4px rgb(26, 37, 15);
    font-size: 1em;
    font-weight: bold;
    margin-top: 2em;
    margin-left: 5%;
    height: 3em;
    width: 15em;
    background-color:darkolivegreen;
    color:white;
    border-radius: 7px;
    border-width: 0;
}

.btn:hover{
    background-color: rgb(27, 100, 13);
}
.btn:active{
    background-color: rgb(19, 70, 9);
    transform: translate3d(1.5px, 1.5px, 1.5px);
    box-shadow: 2px 2px rgb(67, 94, 42);

}



.login-container
{
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 5%;

}

.login
{
    
    color:yellowgreen;
}
